body {
  margin: 0;
}

#snow-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(75,67,210);
  background: linear-gradient(180deg, rgba(75,67,210,1) 0%, rgb(13, 175, 207) 100%);
}
